# Port Mappings for local development
BACKEND_PORT=5151
FRONTEND_PORT=3151
DB_PORT=3316

# MySQL Database Credentials
MYSQL_ROOT_PASSWORD=M4ng013+h
MYSQL_DATABASE=anchor_db_42
MYSQL_USER=excelsiorBarbarino
MYSQL_PASSWORD=+wasC0Ol

# JWT Secret Key (change this to a random string for production)
SECRET_KEY=8Hu78776qf@h^90%gvqnu!j

# Database Backup Configuration
DB_BACKUP_RETENTION_DAYS=7
DB_BACKUP_COMPRESS=true